*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto' , sans-serif;
    background-color:rgb(58, 65,72);
    color: cadetblue;
}
.container{
    width: 700px;
    transform: translate(60% , 80%);
}
.font{
    font-size: 100px;
}